:root {
  --light-magenta: hsl(293, 100%, 63%);
 --light-violet: hsl(264, 100%, 61%)
}
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}
div.page {
 
  width: 375px;
  height: 1000px;
  padding: 60px 70px;
  position: relative;
  background-color: white;
  box-shadow: rgb(34 34 34) 3px 3px 20px -10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  transform:translate(-50%,-50%);
  left: 50%;
  top:50%;
  z-index: 0;
}

  div.page::before {
    content:"";
    width:90%;
    height: 60%;
    left:-40%;
    z-index: -1;
    position: absolute;
background-image: linear-gradient(
150deg,var(--light-magenta),var(--light-violet));
    top: -40px;
    border-radius:0px 0px 50% 50%;
  
}
  div.page::after {
    content:"";
    width:90%;
    height: 60%;
    bottom: -40px;
    right:-40%;
    opacity: .07;
    z-index: -1;
    position: absolute;
background-image: linear-gradient(
150deg,var(--light-magenta),var(--light-violet));
  
    border-radius: 48% 54% 0px 0px;
  
}
div.page >div.phone {
  width: 85%;
  height: 63%;
  padding: 12px;
 
  background-color: white;
  border-radius: 35px;
  box-shadow: rgb(178 178 178) 3px 3px 70px -10px;

}
div.page > div.pharagraph {
  /* width: 100px; */
  text-align: center;
}

h1 {
  color: hsl(271, 36%, 24%);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: .5px;
}
.page>div>p {
  color: rgb(163, 157, 170);
  font-weight: 300;
  line-height: 28px;
}
div.phone-screen {
  width: 100%;
  height: 100%;
  background-color:  hsl(270, 20%, 96%);
   border-radius: inherit;
}

div.phone-screen >div.convert-header {
  width: 100%;
  position: relative;
  height: 15%;
  padding: 37px 5px;
  box-sizing: border-box;
  border-radius: 30px 30px 8px 8px;
  background-image: linear-gradient( to left,var(--light-magenta),var(--light-violet));

}
div.convert-header::after {
  content: "";
  width: 60%;
  height: 38%;
  left: calc(312px / 5);
  position: absolute;
  border-radius: 44px;
  top: -12px;
  background-color: white;
 
  
}
.convert-header div>img:last-of-type {
  background-image : url("../image/avatar.jpg");
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-size: 200%;
  background-position: center;
  align-self: center;
}

.convert-header > img {
  float: left;
 
}
.convert-header p {
  margin: 2px;
  text-align: center;
  font-size: 12px;
  color: hsl(0deg 0% 100%);
  align-self: flex-start;
  opacity: 0.5;
}
.convert-header> div i:first-of-type {
  color: white;
  
}
.convert-header > div i:last-of-type {
  color: white;
  text-align: end;
  width: 20%;
  font-size: 10px;
  opacity: .8;
}
h2 {
  font-size: 14px;
  color: white;
  margin: 3px;
  text-align: center;
  align-self: flex-start;
}
.convert-header div {
  
  padding-left: 10px;
    height: 50%;
    width: 93%;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    justify-content: center;
 
}
.convert-body {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.convert-body > * {
   margin: 0px 8px;
}
.convert-body p {
 
  font-size: 11px;
  padding: 10px;
  max-width: 50%;
  box-shadow: rgb(236 236 236) 4px 4px 10px ;
}
.convert-body {
   margin: 0 5px;
}
p.right{
  
  background-color: white;
  color: hsl(271, 15%, 43%);
}
.left {
  border-radius: 15px 15px 15px 5px;
}
p.left {
  
  color:  hsl(276, 55%, 52%);
  background-color: hsl(289deg 39% 91%);
}

.right {
  border-radius: 15px 15px 5px;
   align-self: flex-end;
}

.box-message i {
  
  position: absolute;
  right: 4%;
  top: 18%;
  background-color: hsl(271, 36%, 24%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 19px;
    
}
.box-message {
  position: relative;
  align-self: center;
  width: 94%;
}
input:not(input[type="radio"]){
  width: 100%;
  padding: 18px 0px 14px 30px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 30px;
  align-self: center;
 
 

}
input::placeholder {
  color: #c7c7c7;
}
.convert-body div.right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 55px;

}
.convert-body img {
  width: 19%;
  height: 100%;
  background-size:cover;
  background-position: center;
  margin: 0px 5px;
  border-radius: 12px;
}
.img-one{
  background-image: url("../image/dog-image-1.jpg");
}
.img-two{ background-image: url("../image/dog-image-2.jpg");}
.img-three{ background-image: url("../image/dog-image-3.jpg");}
div.left {
  background-image: linear-gradient( to right,var(--light-magenta),var(--light-violet));
 position: relative;
  padding: 13px 7px;
  width:80%;
  display: flex;
  align-items: center;
 
}
.convert-body >div.left::after{
  content:"$29";
  color: white;
  position: absolute;
  right: 9%;
  font-weight: bold;
  font-size: 22px;
  top: 28%;
}
.convert-body> div[class="left"]:last-of-type::after {
  content: "12"
}
label {
  text-indent: 5px;
  color: white;
  font-size: 10px;
  font-weight: 400;
  padding-top: 4px;
}
input[type="radio"]{
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: red;
  border:red;
  background-color: transparent;
  border: 1px solid rgb(255,255,255,.5);
  appearance: none;
  border-radius: 50%;
 
}
input[type="radio"]:checked {
  background-color: white;
  
}
@media (min-width: 1440px) {
  div.page {
      width: 1440px;
    flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 150px 50px;
    
    }
    div.phone {
      flex-basis: 21%;
    }
    div.page >div.pharagraph{
      flex-basis: 31%;
      text-align: start;
   }
    div.page::after {
      width: 750px;
      right: -22%;
      bottom: 0%;
      height: 85%;
    }
    div.page::before {
      width: 750px;
      left: -13%;
      height: 85%;
      top: 0px;
  
    }
    
  }